[
  {
    "name": "Test assert false",
    "files": ["main.c"],
    "main": "test1"
  },
  {
    "name": "Test assert false - NO RESULTS",
    "files": ["main.c"],
    "main": "test1",
    "no-results": true
  },
  {
    "name": "Test exit(1)",
    "files": ["main.c"],
    "main": "test3"
  },
  {
    "name": "Test exit(1) - NO RESULTS",
    "files": ["main.c"],
    "main": "test3",
    "no-results": true
  },
  {
    "name": "Test infinite loop",
    "files": ["main.c"],
    "main": "test2"
  },  
  {
    "name": "Test infinite loop - NO RESULTS",
    "files": ["main.c"],
    "main": "test2",
    "no-results": true
  }
]
